version: 2

updates:
  - package-ecosystem: "nuget"
    directory: "/"
    schedule:
      interval: daily
    ignore:
      - dependency-name: "Microsoft.Build"
      - dependency-name: "NuGet.Configuration"
    open-pull-requests-limit: 1
    groups:
        all-dependencies:
          patterns:
            - "*"